/* Simple Project Images Fix - No Complications */
.project-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block !important;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}