/* Project Background Images as IMG tags */
.project-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.project-overlay {
    z-index: 2;
    position: relative;
}